button {
  background-color: blueviolet;
  color: white;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  flex: 1;

}

h1 {
  font-size: 60px;
}

button:hover {
  background-color: black;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
}

.section {
  height: 100VH;
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex: 30;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  padding-left: 5%;
  padding-right: 50px;
  background-color: aqua;
}

.content {
  display: flex;
  flex: 70;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: bisque;
}

.contact {
  flex: 1;
}